{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High School - Связь с нами</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'history' %}">История</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'contact' %}">Связь с нами</a></li>
                <li><a href="{% url 'dashboard' %}">Личный кабинет</a></li>

            </ul>
        </nav>
    </header>
    <section id="contact">
        <h2>Связь с нами</h2>
        <p>ТМы всегда открыты для общения и рады ответить на ваши вопросы. Если вам нужна дополнительная информация о наших программах, услугах или процессах поступления, свяжитесь с нами удобным для вас способом. Наша команда готова помочь вам узнать больше о возможностях обучения в High School.

            Вы можете позвонить нам по телефону, отправить электронное письмо или заполнить форму обратной связи на сайте. Мы стремимся к тому, чтобы ваше взаимодействие с нами было быстрым, удобным и полезным. Присоединяйтесь к нам на пути к успеху – мы ждем вашего обращения!</p>
    </section>
    <footer>
        <p>&copy; 2024 High School. Все права защищены.</p>
    </footer>
</body>
</html>
