{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High School - История</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'history' %}">История</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'contact' %}">Связь с нами</a></li>
                <li><a href="{% url 'dashboard' %}">Личный кабинет</a></li>

            </ul>
        </nav>
    </header>
    <section id="history">
        <h2>История нашего университета</h2>
        <p>Satbayev University - одно из старейших учебных заведений Республики Казахстан. История университета им. К.И. Сатпаева - флагмана инженерного образования республики - неразрывно связана с историей нашего государства, его культурой и системой высшего образования.

            Университет основан в 1934 году как Казахский горно-металлургический институт. В 30-е годы XX в. для решения задач по ликвидации технико-экономической отсталости народного хозяйства возникла острая потребность в развитии высшего технического образования в стране. Для решения этой задачи в столице Казахстана, г. Алма-Ата, был открыт Казахский горно-металлургический институт (КазГМИ) с двумя факультетами: горным и цветных металлов. Первый звонок первого учебного года в КазГМИ прозвенел 19 сентября 1934 г. Именно этот день стал началом освоения технических наук в Казахстане.
            
            Институт сыграл важную роль в становлении и развитии научной и практической деятельности в области геологии, горного дела, металлургии Казахстана. Научная школа, сформировавшаяся на базе института, внесла большой вклад в развитие рудной сырьевой базы республики и организацию новых технологий горного и металлургического производства.
            
            Университет стал базой обеспечения инженерными кадрами промышленности республики и одним из главных источников кадров научных, государственных и общественных деятелей Казахстана. Его история связана с именами таких известных ученых и деятелей культуры, как Омирхан Байконуров, Каныш Сатпаев, Жамал Канлыбаева, Ильяс Есенберлин, Казбек Валиев, Шахмардан Есенов, Акжан аль-Машани, Бахыт Султанов, Аскар Жумагалиев, Айкын Толепберген, Бейбут Атамкулов.
            
            Огромны в становлении и развитии Казахского горно-металлургического института заслуги академика К.И. Сатпаева. Начиная с первого выпуска горных инженеров-геологов в 1937 - 1938 гг., Каныш Имантаевич был председателем Государственной экзаменационной комиссии. В годы Великой Отечественной войны являлся членом Ученого Совета вуза.
            
            В 1960 году КазГМИ был переименован в КазПТИ - Казахский политехнический институт. В 1967-м на факультете автоматики и вычислительной техники организован вокально-инструментальный ансамбль «Дос-Мукасан». В январе 1980 года в Алма-Ате открылся Архитектурно-строительный институт, базой для которого стали архитектурный и инженерно-строительный факультеты КазПТИ, а также Алма-Атинский филиал Всесоюзного заочного инженерно-строительного института. Институт был награжден орденом Трудового Красного Знамени; в 1999 году университету присвоено имя академика К.И. Сатпаева.</p>
    </section>
    <footer>
        <p>&copy; 2024 High School. Все права защищены.</p>
    </footer>
</body>
</html>
